body{
    background: peachpuff;
}
.intro-pic{
    width: 15%;
    border-radius: 100px;
}
.spec-text{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: bold;
    font-size: medium;
}
.hbd-text{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: bolder;
    font-size: x-large;
    font-style: italic;
}
.hero-section{
    text-align: center;
padding: 60px 20px;
background-color: rgb(235, 198, 166); /* A nice orange/yellow color */
color:white;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.slideshow-container{
    width: 100%;
    max-width: 800px;
    height: 800px;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.slide-wrapper{
   display: flex;
   width: 300%;
   height: 100%;
   animation: slideAnimation 12s infinite ;
}
.slide{
    width: 100%;
    height: 100%;
    position: relative;
}
.slide img{
     width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: bold;
    font-size: medium;
}
@keyframes slideAnimation {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    30% { margin-left: -100%; }
    50% { margin-left: -100%; }
    60% { margin-left: -200%; }
    80% { margin-left: -200%; }
    100% { margin-left: 0; }
}
.note{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: lighter;
    font-size: medium; 
    text-align: justify;
    width: 1250px;
    color: brown;
    font-style: italic;
}
.bold{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: bold;
    font-size: medium;
    color: rgb(182, 63, 63);
    font-style: italic;
}
.sender{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: lighter;
    font-size: medium; 
    text-align: right;
    color: rgb(182, 63, 63);
    font-style: italic;
}